//light

//base
$backgroundColor: #e0e3eb;
//Icons
$iconcolor: #585a62;
$iconhover: #e7e7e7;
$iconprimaryColor: #007fff;

//widgets
$backcolor: #fff;
$bordercolor: #bebebe;
$hovercolor: #2a2e39;

$textcolor: #000;
$textcolor2: #000;

$tabbackcolor: #585a62;
$tabcolor: #888;
$tabactivecolor: #fff;

$linkcolor: #0366d6;
$linkhovercolor: #2739c1;

//dark
$backgroundColorDark: #2a2e39;

$tabactivecolorDark: #fff;

//widgets
$backColorDark: #131722;

//FontColor
$fontColorDark: #9fa0a8;
