@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap");
.body {
  width: 100% !important;
}

.boardArea {
  width: 100vw;
  height: 100vh;
  background-color: #f5f5f7;
}

.componentBody {
  margin: 20px;
  height: 90vh;
  flex-direction: column;
}

/*#region Sidebar*/
.sidebarArea {
  position: absolute;
}

.menuOpenButton {
  width: 20px;
  top: 50vh;
  position: fixed !important;
}

.sidebarModal {
  width: 20vw !important;
}

.sidebarHeader {
  display: flex;
  align-items: center;
}

.sidebarBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px !important;
}
.sidebarBody .sidebarAccordion {
  width: 90%;
}
.sidebarBody .sidebarAccordion .sidebarAccordionButton {
  border-radius: 5px;
}
.sidebarBody .sidebarAccordion .sidebarMenuItem {
  display: flex;
}

.sidebarFooter {
  display: flex;
}

/*#endregion Sidebar*/
/*#region QuickMenu*/
.quickMenuBtn {
  height: 4vh !important;
  font-size: 12px !important;
}

/*#endregion QuickMenu*/
/*#region TabsArea*/
.tabsArea {
  margin-top: 0px;
}
.tabsArea .tabBtnArea {
  width: 100vw;
  height: 4vh;
}
.tabsArea .tabBtnArea .tabBtn {
  width: 15%;
  min-width: 120px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.tabBtnLeft {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
}

.tabCloseBtn {
  border-radius: 50px !important;
  font-size: 12px;
}

.tabBtnIcon {
  margin: 0px 10px 0px 0px;
  font-size: 10px;
}

.tabDivider {
  height: 70% !important;
  margin-top: 5px;
  border-color: #dce6f1 !important;
}

.tabPanelArea {
  padding: 0px !important;
}

/*#endregion TabsArea*/
/*#region Dashboard*/
.dashboardDivider {
  color: #dce6f1;
}

.commentListFooter {
  justify-content: flex-end;
  padding: 10px !important;
}

/*#region CounterArea*/
.cardBodyArea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/*#endregion Dashboard*/
/*#endregion Dashboard*/
/*#region PostList*/
.postListImg {
  max-width: 80px;
}

/*#endregion PostList*/
/*#region Post*/
.postTitleInput {
  margin-bottom: 5px;
  font-weight: bold;
}

.postEditor {
  margin-top: 8px;
  border-radius: 10px;
}
.postEditor .ck-rounded-corners {
  border-color: #dce6f1 !important;
  border-bottom-left-radius: 0.375rem !important;
  border-bottom-right-radius: 0.375rem !important;
  height: 84vh;
}
.postEditor .ck.ck-toolbar {
  border-color: #dce6f1 !important;
  border-top-left-radius: 0.375rem !important;
  border-top-right-radius: 0.375rem !important;
}

.postNavPanels {
  margin-bottom: 8px;
}

.postNavDiv {
  margin: 8px 0px !important;
}

.postNavButton {
  display: flex !important;
  justify-content: flex-end;
  margin-top: 13%;
}

.postNavCategoryButton {
  margin-top: 2vh;
  display: flex !important;
  justify-content: flex-end;
}

.postNavImageButton {
  margin-top: 2vh;
  display: flex !important;
  justify-content: flex-end;
}

/*#endregion Post*/
/*#region AddNewPost*/
.wrapper-class {
  padding: 1rem;
  border: 1px solid #ccc;
}

.editor-class {
  background-color: lightgray;
  padding: 1rem;
  border: 1px solid #ccc;
}

.toolbar-class {
  border: 1px solid #ccc;
}

/*#endregion AddNewPost*//*# sourceMappingURL=style.css.map */